.container {
  padding-left: 20px;
  padding-right: 20px;
}

.goBackBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movies__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.movies__poster {
  width: 700px;
  height: auto;
}
.movies__img {
  width: 100%;
  height: auto;
}

.movies__details {
  padding: 10px;
  margin-left: 20px;
}

.movie__genre {
  margin-right: 10px;
  font-weight: 700;
}
